<h1>Editing Withdrawal</h1>

<%= render 'form', withdrawal: @withdrawal %>

<%= link_to 'Show', @withdrawal, class:"btn btn-warning btn-lg btn-block"  %>
<%= link_to 'Back', withdrawals_path, class:"btn btn-dark btn-lg btn-block" %>
