
<div class = "blankSpace1">
</div>
<div class = "justPadding">
    <div class = "loginbox">
        <h2>Welcome to the Texas A&M Badminton Club. </h2>
        <div class = "input">
            <%= link_to "Sign in with your TAMU Google Account", admin_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
</div>