<h1>Editing Payment</h1>

<%= render 'form', payment: @payment %>

<%= link_to 'Show', @payment, class:"btn btn-info btn-lg btn-block" %>
<%= link_to 'Back', payments_path,  class:"btn btn-dark btn-lg btn-block" %>
